deploy:
  provider: heroku
  api_key:
    secure: POxsZ4Kbr03EIH/yGtcZkdN6kt8Qx5jlEp0LRLTcQ2q02TFBDJkaLt4aRlHOijrmzr0y788/x/oN34X4a0EPBh28ZnukaR5DaPDl/kKfuL7Kt1AeFllGaeRnvNFAoxS4lg4s8qVV4LR9Cpt1zZFhxarEJYfm7bwELAlJKSrng4bBwovBIYWZhrKaDCxJvmmp/V4g+hXKuWNu7ZnFAIma6aHWYOOQmWLy7k0ll8KQCc4QnsIAGFYTBn8CuAQwWEXlMM0dSTwRWadRu/JU5ZQ4fc1OpSmtu/gsS97zHYnVWWrN/vr68axpa65YpCiUhKtOWxLLDJF8FNoyeDFnEoRABxb4QEUYt/zRXBWoHa4Ztwpgpa39v9mMUWcUoYgKGY+PItynFZH3iAeK7/VfjunGM4bo2mEBxIJlPm45eWTHoeN/KkfGQdj9hlnaaRdXKcsk1z5K6PjCMjSeqY46gOOLpGKfYl3knzEhNY4Ql6CTG2dJ6wqFBw5yJ71JfHqATOzEfbuZ8+QGJ7KL6U9u9jTl88nM2gzIYyHeIkszIfcen2FO3hpEaGD/1r99uj0m1Rk1MtSB3pUrG/+/+cNshqhzNzJJ2UkOVj8Y0bXy0yptPYOk5dfEzp6JMJQAPS41SrDYt5czz0p70uZ+cNENDKz1bG5C+Uzl75x2NmGNWUin85A=
  app: ar-bot-heroku
  on:
    repo: rodriquelca/ar-boot
